.ha--forgotFlow {
  padding-top: 213px;
  padding-bottom: 120px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.ha--forgotFlowDes {
  width: 629px;
  max-width: 629px;
}

.ha--forgotFlowDes .otpDesign {
  display: flex;
  flex-direction: column;
  gap: 56px;
  justify-content: center;
    align-items: center;
}

.ha--frgtNumberInput {
  width: 80%;
  margin: auto;
}


.frgtInput input.form-control {
  width: 510px;
}

button.frgtBtn {
  width: 509px !important;
}

.frgtInput .PhoneInputCountry {
  display: flex;
  flex-direction: row-reverse;
  gap: 5px;
  width: max-content;
  position: relative;
}

.PhoneInputCountry .PhoneInputCountryIcon img.PhoneInputCountryIconImg {
  width: 25px;
  /* height: 25px; */
}

.frgtInput .PhoneInputCountry select.PhoneInputCountrySelect {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 1;
  border: 0;
  opacity: 0;
  cursor: pointer;
}

.frgtInput .PhoneInputCountry input.PhoneInputInput {
  border: 0px !important;
  height: 100%;
}

.frgtInput input.PhoneInputInput {
  border: 0;
  height: 100%;
  width: 100%;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #1f1f1f;
}

.ha--setNewPass {
  text-align: center;
}

.ha--setPassCust {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.ha--SetPassBtn {
  width: 80%;
}

.otpInput.ha--otpInput {
  display: flex;
  gap: 24px;
}

p.sendAgainCode span.counterSec {
  display: block;
  text-align: center;
}

.ha--successFlow .ha--forgotFlowDes .otpHeader h2 {
  font-family: "Carmen Sans", sans-serif;
  font-size: 51.008px;
  font-style: normal;
  font-weight: 400;
  line-height: 61.21px;
  color: #101828;
  margin-bottom: 24px;
}

.ha--successFlow .ha--forgotFlowDes {
  display: flex;
  flex-direction: column;
  gap: 56px;
}

.ha--successFlow .ha--forgotFlowDes .otpHeader p {
  font-size: 20px;
  font-style: normal;
  font-weight: 300;
  line-height: 28px;
  color: #667085;
}

.ha--successFlow .ha--forgotFlowDes .actionBtn {
  width: 80% !important;
  margin: auto;
}

.ha--successFlow {
  padding-bottom: 260px;
}

@media (max-width:1536px) {
  .ha--forgotFlow{
    padding-top: 150px;
    padding-bottom: 100px;
  }

  .ha--forgotFlowDes .otpDesign{
    gap: 40px;
  }

  .otpDesign .otpHeader h2 {
    font-size: 44px !important;
    line-height: 54px !important;
}

.otpDesign .otpHeader p.text-center {
  font-size: 18px;
  line-height: 28px;
}

.otpInput input.form-control{
  width: 75px !important;
  height: 75px !important;
}

.ha--successFlow {
  padding-top: 200px;
  padding-bottom: 180px;
}

.ha--successFlow .ha--forgotFlowDes .otpHeader h2{
  font-size: 44px !important;
  line-height: 54px;
}



}

@media (max-width:991px) {
  .ha--successFlow .ha--forgotFlowDes .otpHeader p{
    font-size: 18px;
    line-height: 28px;
  }
  
.ha--successFlow {
  padding-top: 78px;
  padding-bottom: 78px !important;
}


  .otpInput input.form-control{
    width: 65px !important;
    height: 65px !important;
  }

  .otpDesign .otpHeader h2 {
    font-size: 40px !important;
    line-height: 50px !important;
}

  .ha--forgotFlow {
    padding-top: 80px;
    padding-bottom: 80px;
}
}

@media (max-width:600px) {

  /* Updated CSS For Forgot */

  .ha--mobileForgotPass {
    margin-top: 48px;
}

.ha--mobileForgotPass form {
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.ha--mobileForgotPass-header {
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.ha--mobileForgotPass-header p.sendAgainCode {
  text-align: center;
}

.ha--mobileForgotPass-header p.sendAgainCode span.counterSec {
  display: block;
}
.ha--mobileForgotPass-header h2 {
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 160%;
  color: #101828;
}

.ha--mobileForgotPass-header p.text-center {
  font-size: 16px;
  font-style: normal;
  font-weight: 300;
  line-height: 24px;
  color: #667085;
}

.ha--mobileForgotPass-input {
  width: 85%;
  margin: auto;
}

.ha--mobileForgotPass form .actionBtn {
  width: 85%;
  margin: auto;
}

.ha--mobileForgotPass-header p.text-center br {
  display: none;
}

div#mantine-8rdretgsf-body {
  height: unset;
}

p.sendAgainCode.ha--SendAgain span.counterSec {
  display: block;
  text-align: center;
}

.ha--mobileOtp {
  display: flex;
  justify-content: center;
  gap: 8px;
  align-items: center;
}

.ha--mobileForgotPass-header .otpHeader {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.ha--mobileForgotPass-header .actionBtn {
  width: 85% !important;
}

.ha--mobileForgotPass-header .authForm {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

  /* End */
  .otpMainDes {
    justify-content: flex-start !important;
    height: auto !important;
  margin-top: 40px !important;
}

.otpMainDes .otpHeader h2 {
    font-size: 18px !important;
    font-style: normal;
    font-weight: 500 !important;
    line-height: 160% !important;
}

.otpMainDes .otpHeader p {
    font-size: 16px !important;
    font-style: normal !important;
    font-weight: 300 !important;
    line-height: 24px !important;
}

.otpDesign .col-lg-10.mb-5 {
  flex: 0 0 100% !important;
  max-width: 100%;
  width: 90%;
}

}