.propertyDetailPage {
  max-width: 1380px !important;
}

#hide {
  position: sticky;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 9999;
  margin-top: 15px;
}

#height {
  position: fixed;
  top: 95px;
  left: 0;
  width: 100%;
}

.sectionNavbar {
  padding: 25px 270px 15px;
  background: #ffffff;
  filter: drop-shadow(0px 0px 8px rgba(0, 0, 0, 0.08));
}

.sectionNavbarList a {
  padding: 10px;
  border-bottom: 2px solid #fff;
  font-weight: 400;
  font-size: 18px;
  line-height: 160%;
  color: #1f1f1f;
  cursor: pointer;
}

.sectionNavbarList a.active {
  border-bottom: 2px solid #767760;
  color: #767760;
}

.propertyDetailHeader h4 {
  font-weight: 500;
  font-size: 30px;
  line-height: 38px;
  color: #1f1f1f;
}

.shareDD button {
  padding: 12px 10px;
  border: 1px solid #c4c5bf;
  border-radius: 10px;
  background: #fff;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #1f1f1f;
}

.shareDD button::after {
  display: none;
}

.shareDD button:hover {
  background-color: #fff !important;
  color: #1f1f1f;
}

.shareDD button:focus-visible,
.shareDD button:active {
  background-color: #fff !important;
  color: #1f1f1f;
}

.btn-check:checked+.btn,
.btn.active,
.btn.show,
.btn:first-child:active,
:not(.btn-check)+.btn:active {
  background-color: unset;
  color: unset;
}

.propertyGallery img {
  width: 100%;
  height: 220px;
  object-fit: cover;
  border-radius: 10px;
}

.mainPDetailImage img {
  height: 465px;
}

.mainPDetailImage .animateBtn {
  position: absolute;
  bottom: 30px;
  left: 30px;
}

.mainPDetailImage .animateBtn button {
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #1F1F1F;
  padding: 10px 20px;
}

.ammenitiesHighlights .ammenities {
  padding-right: 20px;
  border-right: 1px solid #C4C5BF;
  margin-right: 20px;
}

.ammenitiesHighlights span {
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
  color: #1F1F1F;
}

.ammenitiesHighlights .ammenities:last-child {
  border-right: 0px;
}

.propertyDetailSectionTitle h6 {
  font-weight: 500;
  font-size: 20px;
  line-height: 28px;
  color: #000000;
}

.highlightsCard {
  padding: 6px 17px;
  border: 0.716103px solid #C4C5BF;
  border-radius: 10px;
  font-weight: 400;
  font-size: 12.8899px;
  line-height: 163%;
  letter-spacing: 0.02em;
  color: #1F1F1F;

}

.highlightsCard svg {
  display: block;
  height: 30px;
}

.propertiesAboutListing p {
  font-weight: 300;
  font-size: 16px;
  line-height: 24px;
  color: #000000;
}

.ammenitiesItem span {
  width: 24px;
  height: 24px;
  border: 1px solid #1F1F1F;
  border-radius: 50px;
}

.ammenitiesRow {
  gap: 35px 0;
}

.ammenitiesItem p {
  font-weight: 400;
  font-size: 18px;
  line-height: 160%;
  color: #151515;
}

.ammenitiesRow .col-lg-4 {
  padding: 0;
}

span.ammenitiesModal {
  font-weight: 400;
  font-size: 18px;
  line-height: 160%;
  letter-spacing: 0.02em;
  text-decoration: underline;
  color: #767760;
  cursor: pointer;
}

ul.termsList li svg {
  font-size: 18px;
}

ul.termsList li {
  font-weight: 400;
  font-size: 18px;
  line-height: 26px;
  color: #1F1F1F;
  margin-bottom: 18px;
}

ul.termsList.notAllowed svg {
  color: #A2001D;
}

ul.termsList.Allowed svg {
  color: #379A59;
  font-size: 24px;
}

.termsRules .col-lg-2 {
  padding: 0;
}

.exploreProperties {
  padding: 40px;
  background: #ECECEC;
  border-radius: 10px;
}

.exploreList .exploreContent {
  font-size: 16px;
  line-height: 24px;
  color: #1F1F1F;
}

ul.closeChecklist li.closeChecklistItem {
  font-weight: 500;
  font-size: 14px;
  line-height: 22px;
  color: #1F1F1F;
  padding: 6px 16px;
  border: 1px solid #ECECEC;
  border-radius: 50px;
  margin-bottom: 16px;
  cursor: pointer;
}

ul.closeChecklist li.closeChecklistItem svg {
  filter: brightness(0) saturate(100%) invert(42%) sepia(0%) saturate(1%) hue-rotate(37deg) brightness(97%) contrast(95%);
}

ul.closeChecklist li.closeChecklistItem:hover {
  border: 2px solid #C4C5BF;
}

ul.closeChecklist li.closeChecklistItem.active {
  background: #696969;
  color: #fff;
  border: 2px solid #696969;
}

ul.closeChecklist li.closeChecklistItem.active:hover {
  border: 2px solid #696969;
}

ul.closeChecklist li.closeChecklistItem.active svg {
  filter: brightness(0) saturate(100%) invert(99%) sepia(99%) saturate(2%) hue-rotate(101deg) brightness(108%) contrast(101%);
}

.reviewSectionList .reviewSectionItem .reviewerIcon img {
  width: 40px;
  height: 40px;
  object-fit: cover;
  border-radius: 50px;
}

.reviewSectionList .reviewSectionItem .reviewerName h6 {
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #1F1F1F;
}

.reviewSectionList .reviewSectionItem .reviewerName span.reviewDate {
  font-weight: 300;
  font-size: 12px;
  line-height: 16px;
  color: #696969;
}

.reviewSectionList .reviewSectionItem .reviewPara {
  font-weight: 300;
  font-size: 16px;
  line-height: 24px;
  color: #1F1F1F;
}

.reviewSectionList .reviewSectionItem .reviewShowMore span {
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  color: #1F1F1F;
  cursor: pointer;
}

.reviewSectionItem {
  padding: 26px 0;
  border-bottom: 1px solid #C4C5BF;
}

.reviewSectionItem:last-child {
  border: 0px;
}

.closeToAppartment .col-lg-3,
.closeToAppartment .col-lg-9 {
  padding: 0;
}

.similarProperties .col-lg-4 .propertySummary,
.similarProperties .propertyCardBtn,
.similarProperties .propertyCard .propertyImageSlider .carousel .carousel-inner .carousel-item,
.similarProperties .carousel-indicators {
  display: none;
}

.similarProperties .propertyCard .propertyImageSlider .carousel .carousel-inner .carousel-item:first-child {
  display: block;
}

.similarProperties .propertyCard .propertyImageSlider .carousel .carousel-inner .carousel-item img {
  height: 350px;
}

.similarProperties h2 {
  font-weight: 400;
  font-size: 46px;
  line-height: 54px;
  color: #1F1F1F;
}

.similarProperties span.viewAll {
  font-weight: 400;
  font-size: 30px;
  line-height: 38px;
  color: #1F1F1F;
}

.shareDD ul.dropdown-menu.show {
  width: 35rem;
}

.sharePropertyTitle img {
  width: 75px;
  height: 75px;
  border-radius: 10px;
}

.shareContent {
  padding: 20px;
}

.shareContent h4 {
  font-size: 24px;
  font-weight: 500;
}

.sharingOptionCard {
  padding: 20px;
  border: 1px solid #c4c5bf;
  border-radius: 12px;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
}

.sharingOptionCard svg {
  font-size: 25px;
}

.sharingOptionsRow {
  gap: 20px 0;
}

.sharingOptionCard:hover {
  background-color: #f7f7f7;
}

.bookingRequestAside {
  background: #FFFFFF;
  border: 1px solid #C4C5BF;
  box-shadow: 0px 23px 24px -10px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  padding: 20px;
}

.bookingRequestAside .reqTitle {
  font-weight: 400;
  font-size: 24px;
  line-height: 140%;
  color: #1F1F1F;
}

.bookingRequestAside .bookingCount .startsFrom span {
  font-weight: 400;
  font-size: 18px;
  line-height: 160%;
  color: #767760;
}

.bookingRequestAside .bookingCount .startsFrom p {
  font-weight: 400;
  font-size: 21px;
  line-height: 33.6px;
  color: #1F1F1F;
}

span.hiddenfeesNote {
  display: block;
  padding: 8px 16px;
  background: #E5F2F7;
  border-radius: 4px;
}

.bookinghNote h6 {
  font-weight: 400;
  font-size: 18px;
  line-height: 26px;
  margin-bottom: 12px;
}

.bookinghNote p {
  font-weight: 300;
  font-size: 24px;
  line-height: 32px;
  margin-bottom: 8px;
}

.bookinghNote span {
  font-weight: 300;
  font-size: 16px;
  line-height: 24px;
}

.bookinghNote {
  background: #FFFFFF;
  border-radius: 10px;
  padding: 45px 32px;
  box-shadow: 0px 23px 24px -10px rgba(0, 0, 0, 0.1);
}

.disableButton {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
}

.disableButton.disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

.bookingDateRange .mantine-DatePickerInput-root {
  height: 56px;
}

.bookingReqBtn {
  flex: 0 0 13rem;
  max-width: 13rem;
}

.videoSection .highlightsCard {
  cursor: pointer;
}

.videoSection .highlightsCard svg {
  cursor: pointer;
  font-size: 16px;
}


.videoSection .highlightsCard:hover {
  background: #f5f5f5;
  border-color: #000;
}

.carousel-indicators {
  margin-bottom: 40px !important;
}

.videoGallery video {
  height: 850px !important;
  object-fit: cover;
}

.videoGalleryModalDes .modal-content .carousel .carousel-inner .carousel-item::after {
  display: none;
}

.videoGalleryModalDes .modal-content .carousel .carousel-control-next,
.videoGalleryModalDes .modal-content .carousel .carousel-control-prev {
  opacity: 1;
  top: 40%;
  height: 84px;
}

.ratingDetail {
  font-size: 15px;
  color: gold;
}

.hotelNameText {
  line-height: 19px;
}

@media (max-width:1366px) {
  .sectionNavbar {
    padding: 15px 0px 4px !important;
}
}

@media (max-width:991px) {
  .propertyDetailExtraGallerySm {
    display: none;
}

.propertyDetailHeader h4 {
  font-size: 25px;
}

ul.closeChecklist {
  flex-wrap: nowrap;
  display: flex;
  overflow: auto;
}

ul.closeChecklist li.closeChecklistItem {
  display: flex;
  flex-wrap: nowrap;
  white-space: nowrap;
}

.breadCrumbProperties {
  display: none;
}

.sectionNavbar,
.shareSASm {
  display: none !important;
}

.similarProperties h2 {
  font-size: 22px;
}

.similarProperties a span {
  font-size: 18px !important;
}

}
